$Using - list:$

In [4]:
names=['Ram','Sita','Laxman']
age=[25,22,20]

In [2]:
import pandas as pd

In [9]:
data1=pd.DataFrame(data=zip(names,age),columns=['Names','Age'],index=['A','B','C'])

In [10]:
data1

    Names  Age
A     Ram   25
B    Sita   22
C  Laxman   20

In [11]:
import os
os.getcwd()

'C:\\Users\\hp\\Data Science and AI\\Naresh IT\\Statistics_PART_1'

In [12]:
data1.to_csv("C:\\Users\\hp\\Data Science and AI\\Naresh IT\\Statistics_PART_1\\sample1.csv")

$Using$ - $Dictionary$

In [3]:
dict1={'Names':['Ram','Sita','Laxman'],'Ages':[25,22,20]}
dict1

{'Names': ['Ram', 'Sita', 'Laxman'], 'Ages': [25, 22, 20]}

In [15]:
pd.DataFrame(dict1,index=[1,2,3])

    Names  Ages
1     Ram    25
2    Sita    22
3  Laxman    20

In [5]:
dict1={"Col1":['Ram','Sita','Laxman'],
      "Col2":[25,22,20]}

dict1

{'Col1': ['Ram', 'Sita', 'Laxman'], 'Col2': [25, 22, 20]}

In [6]:
data2=pd.DataFrame(dict1)
data2

# keys are default as columns

     Col1  Col2
0     Ram    25
1    Sita    22
2  Laxman    20